<!-- <ngx-spinner bdOpacity=0.9 bdColor="#333" size="default" color="#fff" type="ball-rotate" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner> -->

<div style="width: 100vw;">
    <div class="row justify-content-end">
        <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(65, 65, 65);">
                <a class="navbar-brand" href="split"><b
                        style="color: rgb(108, 255, 218); letter-spacing: 1.5px; font-family:'Courier New', Courier, monospace;">Split
                        Bills</b></a>
                <button class="navbar-toggler p-0 mr-2" type="button" data-toggle="collapse" data-target="#userSettings"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon p-2"
                        style="background-color: rgb(10, 235, 168); border-radius: 8px;"></span>
                </button>

                <div class="collapse navbar-collapse" id="userSettings">
                    <ul class="navbar-nav ml-auto mr-5">
                        <li class="nav-item dropdown mr-5">
                            <a class="nav-link dropdown-toggle" style="color: rgb(108, 255, 218)" id="userDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{userName}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="edituser">Edit Profile</a>
                                <a class="dropdown-item" (click)="logout()">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:rgb(215, 219, 223)">
    <div class="row justify-content-center">
        <div class="col-md-2 col-sm-3 leftColumn d-none d-sm-block">
            <div class="row title justify-content-between">
                <a>Groups</a>
                <fa-icon style="margin-right: 8px;" [icon]="plusIcon" data-toggle="modal" data-target="#createNewGroup"></fa-icon>
                <!-- Modal -->
                <div class="modal fade" id="createNewGroup" tabindex="-1" role="dialog" aria-labelledby="NewGroup"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="NewGroup">Create New Group</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Group Name</label>
                                        <input type="text" name="newGroupName" class="form-control inputForm"
                                            [(ngModel)]="newGroupName" #groupname="ngModel"
                                            placeholder="enter group name" required autofocus>
                                    </div>
                                    <div [hidden]="groupname.valid || groupname.pristine" class="alert alert-danger">
                                        please enter a group name
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" style="margin-right: 10px;" type="button"
                                    data-dismiss="modal" (click)="createNewGroup()">create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row" *ngFor="let group of groups">
                    <div class="col-12 p-0">
                        <a class="col-11" [hidden]="selectedGroupId == group.groupId" (click)="getSingleGroup(group.groupId)"><span
                                style="margin-left: 3px;">{{group.groupName}}</span></a>
                        <a class="col-11" *ngIf="selectedGroupId == group.groupId" class="selectedGroup"><span
                                style="margin-left: 3px;">{{group.groupName}}</span></a>
                    </div>
                </div>
            </div>
            <div class="row groupOptions">

                <fa-icon class="groupOptionIcons" [icon]="groupIcon" (click)="groupDetailsView('groupUsers')"></fa-icon>
                <div class="groupOptionIcons" (click)="groupDetailsView('whoOwesYou')">
                    <fa-icon [icon]="wallet"></fa-icon>
                    <fa-icon [icon]="simplePlusIcon" style ="margin-left : 2px; font-size: 0.7rem;"></fa-icon>
                </div>
                <div class="groupOptionIcons" (click)="groupDetailsView('whomYouOwe')">
                    <fa-icon [icon]="wallet" ></fa-icon>
                    <fa-icon [icon]="simpleMinusIcon" style="margin-left : 2px; font-size: 0.7rem;"></fa-icon>
                </div>
                
            </div>
            <div *ngIf="viewGroupUsers" class="row">
                <h6 class="heading">Group Members</h6>
                <div class="col-12 selectedGroupOptionContent" *ngFor="let groupUser of groupUsersList">
                    <a>{{groupUser.firstName}}</a>
                </div>
            </div>
            <div *ngIf="viewWhoOwesYou" class="row">
                <h6 class="heading">You Get</h6>
                <div class="col-12 selectedGroupOptionContent" *ngFor="let groupUser of groupUsersList">
                    <a *ngIf="groupUser.userId != userId" >{{groupUser.firstName}} {{groupUser.lastName}} owes you </a>
                    <a><span style="color:rgb(58, 184, 146)">{{allGroupDebt[groupUser.userId]}}</span></a>
                </div>
            </div>
            <div *ngIf="viewWhomYouOwe" class="row">
                <h6 class="heading">You Owe</h6>
                <div class="col-12 selectedGroupOptionContent" *ngFor="let groupUser of groupUsersList">
                    <a *ngIf ="groupUser.userId != userId">You owe {{groupUser.firstName}} {{groupUser.lastName}}</a>
                    <a ><span style="color:rgb(184, 58, 58)"> {{allGroupCreditsBalance[groupUser.userId]}}</span></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-8 centerColumn d-none d-sm-block">
            <div class="row">
                <div *ngIf="selectGroupPrompt" class="col-12 header">
                    <div class="col groupTitle">
                        <a style="font-style:italic">select group to see details !</a>
                    </div>                    
                </div>
                <div *ngFor="let group of groupDetails" class="col-12 justify-content-between header">
                    <div class="row groupTitle p-2 justify-content-between">
                        <a>
                            <span class="groupIcon"><b>{{firstChar}}</b></span>
                            {{group.groupName}}
                            <a class="small text-muted" style="margin-left : 25px;">created on : {{groupCreatedOn}}</a>
                        </a>
                    </div>
                    <div class="row justify-content-end">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="addUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Add Users to Group
                            </button>
                            <div class="dropdown-menu" aria-labelledby="addUserButton">
                                <div style="margin-left: 5px; border-bottom: 1px solid rgb(185, 185, 185); max-width: fit-content;">available users</div>
                                <div *ngFor="let user of splitUsers" class="dropdown-item dropper">
                                    <fa-icon style="margin-right: 1rem;" class="groupOptionIcons" [icon]="plusIcon" (click) = "addUserToGroup(user.email)"></fa-icon>{{user.firstName}} {{user.lastName}}
                                </div>
                              
                            </div>
                        </div>
                        <div class="dropdown" style="margin-left: 5px;">
                            <button class="btn btn-sm btn-secondary" type="button" data-toggle="modal" data-target="#createNewExpense">
                              Add Expenses
                            </button>

                            <!-- modal for add expenses-->
                            <div class="modal fade" id="createNewExpense" tabindex="-1" role="dialog" aria-labelledby="NewExpense"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="NewExpense">Create New Expense</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label>Expense Title</label>
                                                    <input type="text" name="newExpenseTitle" class="form-control inputForm"
                                                        [(ngModel)]="newExpenseTitle" #newexpensetitle="ngModel"
                                                        placeholder="enter expense title" required autofocus>
                                                </div>
                                                <div [hidden]="newexpensetitle.valid || newexpensetitle.pristine" class="alert alert-danger">
                                                    please enter expense title
                                                </div>

                                                <div class="form-group">
                                                    <label>Expense description</label>
                                                    <input type="text" name="newExpenseDescription" class="form-control inputForm"
                                                        [(ngModel)]="newExpenseDescription" #newexpensedescription="ngModel"
                                                        placeholder="enter description of expense" required autofocus>
                                                </div>
                                                <div [hidden]="newexpensedescription.valid || newexpensedescription.pristine" class="alert alert-danger">
                                                    please enter a description
                                                </div>

                                                <div class="form-group">
                                                    <label>Amount</label>
                                                    <input type="text" name="newExpenseAmount" class="form-control inputForm"
                                                        [(ngModel)]="newExpenseAmount" #newexpenseamount="ngModel"
                                                        placeholder="enter amount" required autofocus>
                                                </div>
                                                <div [hidden]="newexpenseamount.valid || newexpenseamount.pristine" class="alert alert-danger">
                                                    please enter amount
                                                </div>
                                            </form>
                                            <div class = "expenseDetail">
                                                <div class="col">
                                                    expense paid by 
                                                    <button type="button" class="expenseMembers" id="addPaidByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <a *ngIf = "selectedPayeeNameFlag">you</a>
                                                        <a *ngIf = "!selectedPayeeNameFlag">{{selectedPayeeName}}</a>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="addPaidByButton">
                                                        <div style="margin-left: 5px; border-bottom: 1px solid rgb(185, 185, 185); max-width: fit-content;">available users</div>
                                                        <div *ngFor="let user of groupUsersList" class="dropdown-item dropper" (click) = "addPaidByUser(user.userId, user.firstName, user.lastName)">
                                                            <fa-icon style="margin-right: 1rem;" class="groupOptionIcons" [icon]="plusIcon"></fa-icon>{{user.firstName}} {{user.lastName}}
                                                        </div>                                                      
                                                    </div>
                                                </div>
                                                <div class="col">
                                                     and equally split amongst 
                                                     <button type="button" class="expenseMembers" id="addExpenseMembers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <a *ngIf = "selectedMembersFlag">Select Members</a>
                                                        <a>{{selectedExpInvolvedMembers}}</a>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="addExpenseMembers">
                                                        <div style="margin-left: 5px; border-bottom: 1px solid rgb(185, 185, 185); max-width: fit-content;">available users</div>
                                                        <div *ngFor="let user of groupUsersList" class="dropdown-item dropper" (click) = "addExpenseMember(user.userId, user.firstName, user.lastName)">
                                                            <fa-icon style="margin-right: 1rem;" class="groupOptionIcons" [icon]="plusIcon" ></fa-icon>{{user.firstName}} {{user.lastName}}
                                                        </div>                                                      
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button class="btn btn-primary" style="margin-right: 10px;" type="button"
                                                data-dismiss="modal" (click)="createNewExpense()">create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row expenseContent" *ngFor="let expense of expenses" >
                        <div class="col-12" (click)="selectExpense(expense.expenseId)">
                            <div class="row justify-content-between" data-toggle="collapse" href="#expenseDetail" role="button" aria-expanded="false" aria-controls="expenseDetail">
                                <div class="col-2">
                                    <div>{{expense.expenseTitle}}</div>
                                </div>
                                <div class="col-4">
                                    <div class= "small text-muted" style= "margin-top : 3px; overflow: auto; scrollbar-width: 3px;">{{expense.expenseDescription}}</div>
                                </div>
                                <div class="col-3">
                                    <div class="row small"><u>created</u></div>
                                    <div class="row small">{{expense.expenseCreatedOn.split('T')[0]}}</div>
                                </div>
                                <div class="collapse col-12" id="expenseDetail" *ngIf="selectExpenseId == expense.expenseId">
                                   <div class="card card-body">
                                     <div class="row">
                                        <div class="col-12 expenseSubject">
                                            {{payeeName}} paid {{expense.expenseAmount}} for {{expense.expenseTitle}}
                                            <div class="row small ml-2">
                                                created : {{expense.expenseCreatedOn.split('T')[0]}} by {{expense.expenseCreatorName}}
                                            </div>
                                            <div class="row small ml-2" *ngIf="expenseModifiedBy">
                                                last modified on : {{expense.expenseModifiedOn.split('T')[0]}} by {{expenseModifiedBy}}
                                            </div>
                                        </div>                                        
                                        <div class="col-6" style = "border-right : 1px solid rgb(255, 92, 92)">
                                            <p class="small expenseOwed" *ngFor="let owed of owedBy">{{owed}} for {{expense.expenseTitle}}</p>
                                        </div>
                                        <div class="col-6">
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>